@charset "UTF-8";

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #FFAA17;
  --secondary: #BDBDBF;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #F4F5F8;
  --dark: #222429;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Rubik", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: #031f54f4;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: hsla(256, 62%, 19%, 0.69);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #FFAA17;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ca8000;
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-size: 1em;
}

.img-fluid {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
  color: #fff;
  background-color: #150b9ddb;
  border-color: #adadad;
}

.fa {
  font-size: 13px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #0a14a4de;
  line-height: 1;
  color: #fff;
  padding: 7px 12px 13px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #aa1e21;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #007499;
  color: #fff;
}

.spinner {
  margin: 2px auto 0;
  width: 70px;
  text-align: center;
}

.spinner>div {
  width: 14px;
  height: 14px;
  background-color: #eee;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

/* Chatbox */
#chatbox {
  overflow: hidden;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#click {
  display: none;
}

label {
  position: absolute;
  right: 30px;
  bottom: 45px;
  height: 55px;
  width: 55px;
  background: #110252c9;
  text-align: center;
  line-height: 55px;
  border-radius: 50px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

label i {
  position: fixed;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

label i.fas {
  opacity: 0;
  pointer-events: none;
}

#click:checked~label i.fas {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) rotate(180deg);
}

#click:checked~label i.fab {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(180deg);
}

.wrapper {
  position: fixed;
  right: 30px;
  bottom: 0px;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#click:checked~.wrapper {
  opacity: 1;
  bottom: 85px;
  pointer-events: auto;
}

.wrapper .head-text {
  line-height: 60px;
  color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background: #1e1e1e;
}

.wrapper .chat-box {
  padding: 20px;
  width: 100%;
  color: #fff;
}

.chat-box .desc-text {
  color: #828282;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
}

.chat-box form {
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #444;
}

.chat-box form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.chat-box form .field:last-child {
  margin-bottom: 15px;
}

form .field input,
form .field button,
form .textarea textarea {
  width: 45%;
  height: 60%;
  padding-left: 20px;
  border: 1px solid #444;
  outline: none;
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .field input:focus,
form .textarea textarea:focus {
  border-color: #d7d7d7;
}

form .field input::placeholder,
form .textarea textarea::placeholder {
  color: #777;
  transition: all 0.3s ease;
}

form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder {
  color: #bbb;
}

.chat-box form .textarea {
  height: 70px;
  width: 100%;
}

.chat-box form .textarea textarea {
  height: 100%;
  border-radius: 50px;
  resize: none;
  padding: 15px 20px;
  font-size: 16px;
}

.chat-box form .field button {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: #1e1e1e;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.chat-box form .field button:active {
  transform: scale(0.97);
}

/* Chatbox End */

/* My Modal
#myModal {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  transition: all 0.3s;
}

#myModal {
  scroll-behavior: smooth;
}

#myModal {
  background: #282828;
  color: #eee;
  font-family: "Poppins", sans-serif;
  background-attachment: fixed;
  position: relative;
}

#myModal .header-modal {
  background-color: #010101;
  position: fixed;
  top: 0;
  width: 45vw;
  height: 3.7em;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  box-shadow: #000 2px 0 4px;
  justify-content: space-around;
  transition: all 1s;
}

#myModal .header-modal h2 {
  font-size: 1.35em;
  background: linear-gradient(141.27deg,
      #ff904e -4.24%,
      #ff5982 21.25%,
      #ec68f4 44.33%,
      #79e2ff 83.46%);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient-heading 10s ease infinite;
  -webkit-text-fill-color: transparent;
}

.typing {
  font-size: 0.85em;
  color: chartreuse;
  display: none;
}

.suggest-chat {
  width: 2em;
  animation: chat-btn 5 15s;
}

.main-modal {
  height: 86vh;
  margin-top: 8vh;
}

.chat-msg-box {
  background-color: #616161;
  padding: 0.5em 1em;
  clear: both;
  float: left;
  border-radius: 0.4em;
  max-width: 75vw;
  margin: 15px 0px 0px 20px;
  box-shadow: #000 2px 2px 6px;
}

.chat-msg-box:last-child {
  margin-bottom: 15vh;
}

.chat-msg-box.clint {
  background-color: blueviolet;
  float: right;
  margin: 15px 20px 0px 0px;
}

.main-modal {
  position: fixed;
  top: 42vh;
  text-align: center;
  width: 100vw;
  z-index: -1;
}

.main-modal div {
  width: auto;
  border: 2px solid #3f3f3f;
  margin: auto;
  display: inline-block;
  padding: 1em 2em;
  border-radius: 0.5em;
  max-width: 85vw;
  box-shadow: inset #000 0 0 4px 1px;
  color: #757575;
}

.main-modal div h3 {
  margin-bottom: 0.5em;
}

.main-modal div p {
  font-size: 14px;
}

.all-questions h2 {
  padding: 10vh 0 2vh 0;
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: orange;
}

.all-questions {
  display: none;
}

.questions .container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
}

.questions.container h2 {
  padding-top: 3.7em;
}

.question {
  background-color: #616161;
  margin: 0.4em 0.8em;
  padding: 0.7em;
  border-radius: 0.4em;
  box-shadow: #000 2px 2px 6px;
  font-size: 14px;
  background: linear-gradient(223deg, #616161, #454545);
}

.question:hover {
  background: blueviolet;
}

.question p::selection {
  background-color: chocolate;
  color: black;
  user-select: all;
  -webkit-user-select: all;
}

.footer-modal {
  background-color: #282828;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 3em;
  display: flex;
  align-items: center;
  box-shadow: #000 -2px 0 4px 1px;
  padding: 0px 3vw;
}

.chat-input {
  width: 82vw;
  height: 2.5em;
  border-radius: 0.5em;
  background: #4c4c4c;
  border: 2px solid #6e6d6d;
  padding-left: 0.5em;
  color: #dbdbdb;
}

.chat-input::placeholder {
  color: #9f9f9f;
}

.chat-input:focus {
  outline: none;
  border-color: chartreuse;
}

.chat-input:invalid {
  border-color: orangered;
}

#chat-form {
  display: flex;
  align-items: center;
}

.chat-submit {
  width: 10vw;
  background: transparent;
  border: 0;
}

.chat-submit svg {
  fill: orange;
}

.chat-submit svg:hover {
  fill: chartreuse;
}

.spinner {
  margin: 2px auto 0;
  width: 70px;
  text-align: center;
}

.spinner div {
  width: 14px;
  height: 14px;
  background-color: #eee;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@media screen and (min-width: 680px) {
  .questions .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .question {
    width: 31vw;
  }

  .question:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 680px) {
  .header-modal p {
    font-size: 14px;
  }

  .chat-input {
    font-size: 14px;
  }
}

@keyframes gradient-heading {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes chat-btn {

  0%,
  30%,
  85% {
    transform: rotateY(0deg);
  }

  33%,
  80% {
    transform: rotateY(180deg);
  }
}*/

/* Navbar-brand */
.navbar-brand {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-brand a img {
  height: 65px;
  display: flex;
  justify-content: flex-start;
}

.navbar-brand img {
  width: 14vh;
  height: 25vh;
  margin: 0 auto 0 0;
  display: block;
  top: 4px;
  z-index: 99;
}

.navbar-brand img:hover {
  opacity: 0.8;
}

.navbar-brand img:active {
  opacity: 0.5;
}

.navbar-brand img:focus {
  outline: none;
}

.navbar-brand img:visited {
  opacity: 0.7;
}

.navbar-brand img:hover,
.navbar-brand a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.card {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  position: relative;
}

.card::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #fff 0%, black 100%);
  z-index: 1;
  mix-blend-mode: multiply;
}

.card-body {
  position: absolute;
  z-index: 3;
}

.headlines a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
}

.headlines a:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.icons .icon {
  display: flex;
  gap: 0.3em;
}

/* carousel */

.carousel {
  height: 75vh;
  margin-top: -9px;
  width: auto;
  overflow: hidden;
  position: relative;
}

.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .author {
  font-weight: bold;
  letter-spacing: 10px;
}

.carousel .list .item .title,
.carousel .list .item .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}

.carousel .list .item .topic {
  color: #f1683a;
}

.carousel .list .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.carousel .list .item .buttons button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}

.carousel .list .item .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}

/* ========================= */

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: var(--color);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(51, 51, 51, 1);
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(51, 51, 51, 0.5);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/* thumbail */

.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.thumbnail .item .content .title {
  font-weight: 500;
}

.thumbnail .item .content .description {
  font-weight: 300;
}

/* arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
}

.arrows button:hover {
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.carousel .list .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}

.carousel .list .item:nth-child(1) .content .topic {
  animation-delay: 1.4s !important;
}

.carousel .list .item:nth-child(1) .content .des {
  animation-delay: 1.6s !important;
}

.carousel .list .item:nth-child(1) .content .buttons {
  animation-delay: 1.8s !important;
}

create animation when next click .carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}

.carousel.prev .list .item img {
  z-index: 100;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.carousel.next .thumbnail {
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* running time */

.carousel .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time {
  animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime {
  from {
    width: 100%
  }

  to {
    width: 0
  }
}


/* prev click */

.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}

.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }

  .carousel .list .item .content .title {
    font-size: 30px;
  }
}

/* Carousel End */

/* University and scholarships */
.scholarships {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.scholarships .scholarship-card {
  width: 300px;
  height: 300px;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-6);
  box-shadow: var(--shadow-2);
}

.scholarships .scholarship-card .scholarship-name {
  font-size: 2rem;
  color: var(--white);
  margin-block: 20px;
}

.scholarships .scholarship-card .scholarship-description {
  font-size: 1.2rem;
  color: var(--gray);
  margin-block: 20px;
}

.scholarships .scholarship-card .scholarship-button {
  padding: 10px 20px;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: var(--radius-6);
  cursor: pointer;
}

.scholarships .scholarship-card .scholarship-button:hover {
  background-color: var(--dark-orange);
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service {
  text-align: center;
}

.service .section-title {
  margin-block-end: 50px;
}

.service-card {
  padding: 40px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-6);
}

.service-card .card-icon {
  width: 60px;
  height: 60px;
  background-color: var(--violet-blue-crayola);
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 2.5rem;
  border-radius: var(--radius-circle);
  margin-inline: auto;
}

.service-card .card-icon ion-icon {
  --ionicon-stroke-width: 50px;
}

.service-card .card-title {
  margin-block: 16px 10px;
}

.service-card .btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-block-start: 10px;
  color: var(--violet-blue-crayola);
  font-weight: var(--fw-700);
  transition: var(--transition-1);
}

.service-card .btn-text:is(:hover, :focus-visible) {
  opacity: 0.9;
}

.faq-container {

  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 5rem;
}

.faq-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  text-align: center;
  z-index: 10;
}

.faq-box {
  position: relative;
  width: 80%;
  margin-bottom: 2rem;
}

.faq-header {
  position: sticky;
  position: -webkit-sticky;
  top: 5rem;
  height: var(--box-header-ht);
  line-height: var(--box-header-ht);
  border-radius: 3px 3px 0 0;
  text-align: center;
  background-color: var(--content-header);
}

.faq-content {
  padding: 2rem 1.5rem;
  background-color: var(--content-bg-color);
  border-top: 0; 
  border-radius: 0 0 5px 5px;
}

@media only screen and (max-width: 768px) {
  .faq-content {
    font-size: 16px;
  }
}

.tabs-main{
  background: #191828;
  color: #efedef;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0;
  padding: 100px; 
}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/
/*
.about .container {
  display: grid;
  gap: 50px;
}

.about .section-title {
  margin-block-end: 35px;
}

.accordion-card .card-title {
  padding-block-end: 20px;
}

.accordion-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-btn ion-icon {
  font-size: 1.5rem;
  color: var(--blue-crayola);
  transition: var(--transition-1);
}

.accordion-card.expanded .accordion-btn ion-icon {
  transform: rotate(0.5turn);
}

.accordion-btn .span {
  transition: var(--transition-1);
}

.accordion-btn:is(:hover, :focus-visible) .span,
.accordion-card.expanded .accordion-btn .span {
  color: var(--violet-blue-crayola);
}

.accordion-content {
  padding-inline-start: 24px;
  max-height: 0;
  overflow: hidden;
}

.accordion-card.expanded .accordion-content {
  max-height: max-content;
  padding-block-end: 20px;
}
*/
/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.service .container {
  display: grid;
  gap: 50px;
}

.service .service-box {
  margin-block: 25px 30px;
}

.service-box .service-card {
  display: grid;
  gap: 15px;
}

.service-box .service-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.service-card fa {
  background-color: var(--lavender-web);
  font-size: 1.4rem;
  padding: 4px;
  border-radius: var(--radius-circle);
}

.service-card fa {
  --ionicon-stroke-width: 40px;
}

/*-----------------------------------*\
  #STATS
\*-----------------------------------*/

.stats {
  background-image: linear-gradient(to bottom, var(--white) 50%, var(--cultured) 50%);
}

.stats-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 36px 24px;
  padding: 45px 30px;
  border-radius: var(--radius-8);
}

.stats-card .card-text>* {
  color: var(--white);
}

/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/

.project {
  background-color: var(--cultured);
}

.project :is(.section-subtitle, .section-title) {
  text-align: center;
}

.project .section-title {
  margin-block-end: 50px;
}

.project-card {
  background-color: var(--white);
  border-radius: var(--radius-8);
  overflow: hidden;
  box-shadow: var(--shadow-2);
  height: 100%;
}

.project-card .card-content {
  padding: 30px;
}

.project-card .card-title {
  transition: var(--transition-1);
}

.project-card .card-title:is(:hover, :focus-visible) {
  color: var(--violet-blue-crayola);
}

.project-card .card-text {
  margin-block: 16px 20px;
}

.project-card .card-meta-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.project-card .card-meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--cadet-blue-crayola);
  font-size: var(--fs-8);
}

/* Sections */

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 10;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

/* Get Started Section  */
#get-started {
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 200;
}

#get-started .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  transition: all 0.5s ease-in-out 0s;
}

@media (max-width: 991px) {
  #get-started .feature-block {
    margin-bottom: 30px;
  }
}

#get-started .feature-block:hover {
  color: #f68122;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#get-started .feature-block h4 {
  margin-bottom: 20px;
}

#get-started .feature-block p {
  margin-bottom: 18px;
}

#get-started .feature-block a {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

#get-started .feature-block a:hover {
  color: #f68122;
}

.img-fluid {
  box-sizing: border-box;
  -webkit-border-radius: 56px;
  -moz-border-radius: 56px;
  border-radius: 56px;
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 90%;
  color: #6c757d;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/


/* end get started section */


/* Screenshots Section*/
.owl-dot.active span {
  height: 10px !important;
  width: 10px !important;
}

.owl-theme .owl-dots .owl-dot span {
  height: 10px !important;
  width: 10px !important;
}

.owl-item img {
  cursor: pointer;
}

.owl-stage-outer {
  margin-bottom: 30px;
}

.owl-theme .owl-nav {
  display: none;
  margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #f68122;
}

.owl-theme .owl-dots .owl-dot span {
  background: #ddd;
}

/*-- end screenshot --*/

/*-- Video Section --*/
#video {
  background: url(../img/video-bg.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  overflow: hidden;
}

#video .overlay {
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
}

#video .overlay .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#f68122 50%, rgba(113, 197, 93, 0.15) 52%);
  border-radius: 50%;
  display: block;
  margin: 153px auto 0;
  position: relative;
  overflow: hidden;
}

#video .overlay .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#video .overlay .play-btn:before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#video .overlay .play-btn:hover::after {
  border-left: 15px solid #f68122;
  -webkit-transform: scale(20);
  transform: scale(20);
}

#video .overlay .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate2 {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* Courses */
.courses-item img {
  position: relative;
  margin-top: 40px;
  transition: .5s;
}

.courses-list-item img {
  position: relative;
  transition: .5s;
}

.courses-item .courses-text,
.courses-list-item .courses-text {
  position: absolute;
  width: 100%;
  height: calc(100% + 86px);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(to bottom, rgba(18, 15, 45, 0), #120f2d);
  transition: .5s;
  z-index: 1;
}

.courses-list-item .courses-text {
  height: 100%;
}

.courses-item:hover img {
  margin-top: 0px;
}

.courses-list-item:hover img {
  transform: scale(1.2);
}

.courses-item:hover .courses-text {
  height: calc(100% + 40px);
}

.team-carousel .owl-nav,
.related-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 60px;
  top: calc(50% - 30px);
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next,
.related-carousel .owl-nav .owl-prev,
.related-carousel .owl-nav .owl-next {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #2878EB;
  font-size: 22px;
  transition: .5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover,
.related-carousel .owl-nav .owl-prev:hover,
.related-carousel .owl-nav .owl-next:hover {
  background: #F14D5D;
}

.testimonial-carousel .owl-item img {
  width: 80px;
  height: 80px;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 120px;
  height: 60px;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #2878EB;
  font-size: 22px;
  transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: #F14D5D;
}

.testimonial-carousel .owl-nav .owl-prev:hover {
  background: #2878EB;
}

/* Team Section */
#team .team-block {
  box-shadow: 0 0 35px rgba(50, 13, 13, 0.1);
  height: 254px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media (max-width: 991px) {
  #team .team-block {
    margin-bottom: 30px;
  }
}

#team .team-block img {
  width: 100%;
}

#team .team-block .team-content {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  bottom: -147px;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
}

#team .team-block .team-content ul {
  display: block;
  width: 100%;
}

#team .team-block .team-content ul li {
  display: inline-block;
}

#team .team-block .team-content ul li a {
  color: #626262;
}

#team .team-block .team-content ul li a .fa {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

#team .team-block .team-content ul li a .fa:hover {
  color: #f68122;
}

#team .team-block .team-content ul>span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#team .team-block:hover .team-content {
  bottom: 0px;
  transition: all 0.5s ease-in-out 0s;
}

.team-carousel .owl-nav {
  position: absolute;
  width: 60px;
  height: 180px;
  top: calc(50% - 90px);

  .hero-content {
    max-width: 85%;
    margin-inline: auto;
  }
}

/**
 * responsive for large than 992px screen
 */

/**
   * REUSED STYLE
*/

.container {
  max-width: 960px;
}

/**
   * STATS
   */

.stats-card {
  grid-template-columns: repeat(4, 1fr);
}

/**
   * PROJECT
   */

.project .section-title {
  max-width: 32ch;
  margin-inline: auto;
}

/**
 * responsive for large than 1200px screen
 */

/**
   * REUSED STYLE
   */

.container {
  max-width: 1140px;
}

/**
   * SERVICE
   */

.service .grid-list {
  grid-template-columns: repeat(4, 1fr);
} 

/**
   * STATS
   */

.stats .container {
  max-width: 70%;
}

.stats-card {
  padding: 60px;
}

/**
   * PROJECT
   */

.project .grid-list {
  grid-template-columns: repeat(3, 1fr);
}

/** responsive for large than 1400px screen*/

/** REUSED STYLE */

.container {
  max-width: 1320px;
}

/** FEATURE */

.feature-list {
  grid-template-columns: 1fr 1fr;
}

@keyframes parralax {
  0% {
    background-position: 260px;
  }

  100% {
    background-position: -10000vw;
  }
}

@keyframes moto {
  0% {
    transform: translateY(0) rotate(0);
  }

  5% {
    transform: translateY(0) rotate(-5deg);
  }

  25% {
    transform: translateY(60px) rotate(-20deg);
  }

  49% {
    transform: translateY(0) rotate(-1deg);
  }

  51% {
    transform: translateY(0) rotate(1deg);
  }

  75% {
    transform: translateY(60px) rotate(20deg);
  }

  80% {
    transform: translateY(60px) rotate(0deg);
  }

  98% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes voiture {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0);
  }
}

&__parralax {
  position: absolute;
  left: 0;
  top: -300px;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

&-premierplan {
  background-position: 260px;
}

&-trees,
&-premierplan,
&-secondplan {
  position: absolute;
  inset: 0;
  background-repeat: repeat-x;
  background-position-y: 100% !important;
  animation: parralax 600s linear infinite;
}

&-moto {
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -250px;
  height: 200px;
  width: 150px;
  background: url(https://i.ibb.co/JCGfFJd/moto-net.gif);
  background-repeat: no-repeat;
  transform-origin: 50% 80%;
  animation: moto 5s linear infinite;
}

&-voiture {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: 250px;
  height: 114px;
  width: 206px;
  /* background: url(https://i.ibb.co/0Qhp4DN/voiture-fumee.gif);*/
  background-repeat: no-repeat;
  animation: voiture 1s linear infinite;
}

&-trees {
  /*background-image: url(https://i.ibb.co/nQM4PGJ/arbres.png);*/
  bottom: -60px;
  animation-duration: 1000s;
}

&-premierplan {
  /*background-image: url(https://i.ibb.co/RQhDWbk/premierplanv3.png);*/
  animation-duration: 500s;
  background-position-y: 27px !important;
}

&-secondplan {
  /*background-image: url(https://i.ibb.co/J3TjC4W/second-plan.png);*/
  animation-duration: 600s;
}
